<%- include('./partials/header')%>
<div class="container mt-5 form-control w-50 bg-success">
  <form action="/code/<%=id%>" method="post">
  <h1 class="fw-dark fs-4 alert alert-dark w-100 text-center">✔✍Enter Code✔✍</h1>
    <input class="form-control w-100" type="text" placeholder="code" name="code"><br>
    <button class="btn btn-dark w-100 fs-4">Submit code</button><br><br>
  </form>
</div>




<%- include('./partials/footer')%>